<!DOCTYPE html>
<html>
<head>
  <title>App HM</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render 'layouts/navigation' %>
  <%= link_to "Hm Articles", articles_path %>
  <%= render 'layouts/messages' %>
  <%= yield %>
</body>
</html>
</html>



